/**
 * ===================
 * Footer styles
 * ==================
*/

footer{
	position: absolute;
        bottom: 0;
	background-color: #FFFFFF;
	text-align: center;
	border-top: 1px solid #CCCCCC;
        height: 60px;
        font-weight: 700;
        width: 100%;
}
