/**
 * ===================
 * Filters styles
 * ==================
*/

.filters{
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	position: relative;
}

.filters > div{
	font-weight: 600;
	height: 100%;
	width: 25%;
	text-align: center;
}

.filters .locations{
	position: absolute;
	left: 0;
	border-right: 1px solid #DDDDDD;
}

.filters > div h4{
	margin-top: -14px;
	white-space: nowrap;
	font-weight: 600;
	font-size: 14px;
}

.filters .amenities{
	position: absolute;
	left: 25%;
}

.filters button{
	flex-grow: 0;
	box-sizing: border-box;
	font-size: 18px;
	color: #FFFFFF;
	background-color: #FF5A5F;
	height: 48px;
	width: 20%;
	border: none;
	position: absolute;
	top: 10px;
	right: 30px;
	border-radius: 4px;
	transition: opacity 0.25s ease-in-out;
}

.filters button:hover{
	opacity: 90%;
}
