/**
 * ===================
 * Filters styles
 * ==================
*/

.filters{
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	position: relative;
}

.filters > div{
	font-weight: 600;
	height: 100%;
	width: 25%;
	text-align: center;
}

.filters .popover{
	display: none;
	list-style-type: none;
	width: 100%;
	padding: 5px;
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	transition: all 0.25s ease-in-out;
}

.filters .popover li{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1px;
}

.filters .popover li h2{
	font-size: 16px;
}

.filters div:hover .popover{
	display: block;
}

.filters .popover li > ul{
	margin-top: -16px;
	display: flex;
        flex-direction: column;
	align-items: flex-start;
}

.filters .locations .popover li > ul li{
        font-size: 13px;
        font-weight: 400;
}

.filters .amenities .popover li{
	align-items: flex-start;
	padding: 0px 10px;
	font-weight: 500;
}

.filters .locations{
	position: absolute;
	left: 0;
	border-right: 1px solid #DDDDDD;
}

.filters > div h4{
	margin-top: -14px;
	white-space: nowrap;
	font-weight: 600;
	font-size: 14px;
}

.filters .amenities{
	position: absolute;
	left: 25%;
}

.filters button{
	flex-grow: 0;
	box-sizing: border-box;
	font-size: 18px;
	color: #FFFFFF;
	background-color: #FF5A5F;
	height: 48px;
	width: 20%;
	border: none;
	position: absolute;
	top: 10px;
	right: 30px;
	border-radius: 4px;
	transition: opacity 0.25s ease-in-out;
}

.filters button:hover{
	opacity: 90%;
}
